<div class="container">
  <div class="row">
    <div class="col-md-3">
      <form novalidate ng-submit="vm.onSubmit()" name="vm.form">
        <h1>{{vm.updatingUser ? "Update" : "Add"}} user</h1>
        <formly-form model="vm.user" fields="vm.userFields" form="vm.userForm">
          <button type="submit" class="btn btn-default" ng-disabled="vm.userForm.$invalid">Submit</button>
          <button type="reset" class="btn btn-default" value="Reset">Reset</button>
        </formly-form>
      </form>
    </div>
    <div class="col-md-9">
      <h1>Users List</h1>
      <table st-table="vm.usersData" st-safe-src="vm.usersAsyncData" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="_id" st-sort-default="true">Id</th>
            <th st-sort="firstName">First Name</th>
            <th st-sort="lastName">Last Name</th>
            <th st-sort="email">Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.usersData">
            <td>{{::row._id}}</td>
            <td>{{::row.firstName}}</td>
            <td>{{::row.lastName}}</td>
            <td>{{::row.email}}</td>
            <td>
              <button type="button" ng-click="vm.removeUser(row._id)" class="btn btn-sm btn-danger">
                Delete
              </button>
              <button
                type="button"
                ng-click="vm.startUpdate(row)"
                class="btn btn-sm btn-success"
                ng-show="vm.user._id != row._id"
              >
                Update
              </button>
              <button
                type="button"
                ng-click="vm.cancelUpdate()"
                class="btn btn-sm btn-info"
                ng-show="vm.user._id == row._id"
              >
                Cancel Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
