<div class="container">
  <div class="row">
    <div class="col-md-3">
      <form novalidate ng-submit="vm.onSubmit()" name="vm.form">
        <h1>{{vm.updatingAllocation ? "Update" : "Add"}} allocation</h1>
        <formly-form model="vm.allocation" fields="vm.allocationFields" form="vm.allocationForm">
          <button type="submit" class="btn btn-default" ng-disabled="vm.allocationForm.$invalid">Submit</button>
          <button type="reset" class="btn btn-default" value="Reset">Reset</button>
        </formly-form>
      </form>
    </div>
    <div class="col-md-9">
      <h1>Allocations List</h1>
      <table st-table="vm.allocationsData" st-safe-src="vm.allocationsAsyncData" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="_id" st-sort-default="true">Id</th>
            <th st-sort="UserId">User</th>
            <th st-sort="AssetId">Asset</th>
            <th st-sort="allocatedFrom">From</th>
            <th st-sort="allocatedTo">To</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.allocationsData">
            <td>{{::row._id}}</td>
            <td>{{vm.formattedUsers[row.UserId]}}</td>
            <td>{{vm.formattedAssets[row.AssetId]}}</td>
            <td>{{::row.allocatedFrom | date}}</td>
            <td>{{::row.allocatedTo | date}}</td>
            <td>
              <button type="button" ng-click="vm.removeAllocation(row._id)" class="btn btn-sm btn-danger">
                Delete
              </button>
              <button
                type="button"
                ng-click="::vm.startUpdate(row)"
                class="btn btn-sm btn-success"
                ng-show="vm.allocation._id != row._id"
              >
                Update
              </button>
              <button
                type="button"
                ng-click="vm.cancelUpdate()"
                class="btn btn-sm btn-info"
                ng-show="vm.allocation._id == row._id"
              >
                Cancel Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
